aes-pica-reference-middleware/eai-target-contracts/src/main/resources/plataforma-sms/publicador-sms.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://claro.com.co/publicaciones/publicador-sms/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="publicador-sms"
	targetNamespace="http://claro.com.co/publicaciones/publicador-sms/">
	<wsdl:types>
		<xsd:schema
			targetNamespace="http://claro.com.co/publicaciones/publicador-sms/">
			<xsd:element name="publicar">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="mensaje" type="xsd:string" />
						<xsd:element name="codigoPais" type="xsd:string" />
						<xsd:element name="numeroDestinatario" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="publicarResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="codigoTransaccion" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	
	<wsdl:message name="publicarRequest">
		<wsdl:part element="tns:publicar" name="parameters" />
	</wsdl:message>
	
	<wsdl:message name="publicarResponse">
		<wsdl:part element="tns:publicarResponse"
			name="parameters" />
	</wsdl:message>
	
	<wsdl:portType name="publicador-sms">
		<wsdl:operation name="publicar">
			<wsdl:input message="tns:publicarRequest" />
			<wsdl:output message="tns:publicarResponse" />
		</wsdl:operation>
	</wsdl:portType>
	
	<wsdl:binding name="publicador-smsSOAP"
		type="tns:publicador-sms">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="publicar">
			<soap:operation
				soapAction="http://claro.com.co/publicaciones/publicador-sms/publicar" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	
	<wsdl:service name="publicador-sms">
		<wsdl:port binding="tns:publicador-smsSOAP"
			name="publicador-smsSOAP">
			<soap:address location="http://www.example.org/" />
		</wsdl:port>
	</wsdl:service>
	
</wsdl:definitions>
