aes-pica-reference-middleware/canonical-domain-model/src/main/resources/contract/javeriana-entidades.xsd

<?xml version="1.0" encoding="windows-1252" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:ns1="http://aes-pica-javeriana/enterprise-model/framework/entities/1.0.0"
	targetNamespace="http://aes-pica-javeriana/enterprise-model/framework/entities/1.0.0"
	elementFormDefault="qualified">
	
	<xsd:complexType name="SMSNotification">
		<xsd:sequence>
			<xsd:element name="targetNumber" type="xsd:string" />
			<xsd:element name="message" type="xsd:string" />
			<xsd:element name="countryCode" type="xsd:string" />
		</xsd:sequence>
	</xsd:complexType>

</xsd:schema>